<div class="row">
  <% @articles.each do |art| %>
    <p class="lead">
      <%= art.title %>
    </p>
    <p>
      <%= art.text %>
    </p>
      <p>
        <button class="btn btn-default" type="submit">
          <%= link_to "Show", article_path(art) %>
        </button> 
        <button class="btn btn-default" type="submit">
          <%= link_to "Edit", edit_article_path(art) %>
        </button>
        <button class="btn btn-default" type="submit">
          <%= link_to "Delete", art, method: :delete, data: {confirm: "You sure?"} %>
        </button>
      </p>
      <hr />
  <% end %>
</div